<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="../../assets/bus.png" alt="Transporte POA" width="60px" height="60px">
        <a class="navbar-brand brandTitle" routerLink="">Transporte POA</a>
        <button (click)="isOpen()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngClass]="open ? 'collapse navbar-collapse show' : 'collapse navbar-collapse'"
            id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['']">Ônibus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['']" [queryParams]="{ tipo: 'l' }">Lotação</a>
                </li>
            </ul>
            <form class="d-flex" [formGroup]="lineForm" (ngSubmit)="onSubmit()">
                <input formControlName="linha" class="form-control me-2" type="search" placeholder="Buscar uma linha..."
                    aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>