<div class="container">
    <agm-map class="map"  appDirectionsMap [showDirection]="this.displayDirections"
         [origin]="origin"
         [destination]="destination"
         [waypoints]="waypoints"
         [zoom]="zoom"
         [disableDefaultUI]="false"
        >

    <agm-marker
            [latitude]="origin.latitude"
            [longitude]="origin.longitude">
    </agm-marker>
    <agm-marker
    [latitude]="destination.latitude"
    [longitude]="destination.longitude">
</agm-marker>
</agm-map>
</div>