table {
    width: 100%;
}

.tableContainer{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

td {
    cursor: pointer;
}


.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
    width: 100%;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }