<mat-progress-bar class="progressBar" *ngIf="points.length == 0" mode="indeterminate"></mat-progress-bar>
<button class="btn" style="margin-left: 80px; margin-top: 50px; width: 200px;background-color: black;color: white; "
    (click)="goToMap()">Ver rota</button>
<h2 style="text-align: center; margin-top: 20px;">{{nome}}</h2>
<div class="mat-elevation-z8 busTable tableContainer">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="tableTitle"> Ponto </th>
            <td mat-cell *matCellDef="let point">Ponto {{points.indexOf(point)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="mapa">
            <th mat-header-cell *matHeaderCellDef class="tableTitle"> Ver no mapa </th>
            <td mat-cell *matCellDef="let point">
                <a [href]="'https://www.google.com/maps/?q=' + point.lat + ',' + point.lng">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="item" mat-row *matRowDef="let row; columns: displayedColumns;" [queryParams]="{linha : row.id}"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>