<mat-progress-bar class="progressBar" *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
<h3 *ngIf="notFound" style="margin-top: 50px; text-align: center;"> <i>Nenhum resultado encontrado.</i> </h3>
<div *ngIf="notFound == false" class="example-container mat-elevation-z8">
    <div  class="example-table-container">
        <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created"
            matSortDisableClear matSortDirection="desc">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nome</th>
                <td mat-cell *matCellDef="let row" style="text-align: center; word-break:break-all; max-width: 100px;">
                    {{row.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Codigo</th>
                <td mat-cell *matCellDef="let row" style="text-align: center;">{{row.codigo}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/itinerario']"
                [queryParams]="{linha : row.id}"></tr>
        </table>
    </div>
</div>