/* Structure */
.example-container {
    position: relative;
    min-height: 200px;
    width: 95%;
    margin: auto;
    margin-top: 50px;
  }
  
  .example-table-container {
    position: relative;
    max-height: 100vh;
    overflow: auto;
  }
  
  table {
    width: 100%;
    cursor: pointer;
  }
  

  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  