table {
    width: 100%;
}

.busTable {
    margin: auto;
    margin-top: 50px;
    width: 95%;
    margin-bottom: 50px;

}

.tableTitle {
    font-weight: bold;
}

.lineName {
    text-decoration: none;
}

.item {
    cursor: pointer;
}