<mat-progress-bar class="progressBar" *ngIf="ELEMENT_DATA.length == 0" mode="indeterminate"></mat-progress-bar>
<div class="mat-elevation-z8 busTable" *ngIf="ELEMENT_DATA != []">
 
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="tableTitle"> Id </th>
      <td mat-cell *matCellDef="let busLine"> {{busLine.id}} </td>
    </ng-container>


    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef class="tableTitle" style="text-align: center;"> Nome </th>
      <td mat-cell *matCellDef="let busLine" style="text-align: center; word-break:break-all; max-width: 100px;">{{busLine.nome}}</td>
    </ng-container>


    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef class="tableTitle" style="text-align: center;"> Código </th>
      <td mat-cell *matCellDef="let busLine" style="text-align: center;"> {{busLine.codigo}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="item" mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/itinerario']"
      [queryParams]="{linha : row.id, nome: row.nome}"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>